div.header

  div.block

    span.title Основные

    div.buttons

      button(
        ngx-button,
        ngx-button-type="flat",
        ngx-button-form="basic",
        ngx-button-size="normal",
        ngx-button-color="primary",
        (click)="demo.toggleType()") Изменить тип

      button(
        ngx-button,
        ngx-button-type="flat",
        ngx-button-form="basic",
        ngx-button-size="normal",
        ngx-button-color="primary",
        (click)="demo.toggleSize()") Изменить размер

      button(
        ngx-button,
        ngx-button-type="flat",
        ngx-button-form="basic",
        ngx-button-size="normal",
        ngx-button-color="primary",
        (click)="demo.toggleForm()") Изменить форму

  div.block

    span.title Дополнительные

    div.buttons

      button(
        ngx-button,
        ngx-button-type="flat",
        ngx-button-form="basic",
        ngx-button-size="normal",
        ngx-button-color="primary",
        (click)="demo.toggleCustom()") Изменить цвет

      button(
        ngx-button,
        ngx-button-type="flat",
        ngx-button-form="basic",
        ngx-button-size="normal",
        ngx-button-color="primary",
        (click)="demo.toggleHoverType()") Изменить эффект наведения
