div.header

  div.row

    button(
      ngx-button,
      [disabled]="false",
      ngx-button-color='primary',
      ngx-button-type="flat",
      ngx-button-form="basic",
      ngx-button-size="normal",
      (click)="demo.toggleType()") Изменить тип

    button(
      ngx-button,
      [disabled]="false",
      ngx-button-color='info',
      ngx-button-type="flat",
      ngx-button-form="basic",
      ngx-button-size="normal",
      (click)="demo.toggleSize()") Изменить размер

    button(
      ngx-button,
      [disabled]="false",
      ngx-button-color='help',
      ngx-button-type="flat",
      ngx-button-form="basic",
      ngx-button-size="normal",
      (click)="demo.toggleForm()") Изменить форму

  div.row

    button(
      ngx-button,
      [disabled]="false",
      ngx-button-color='help',
      ngx-button-type="flat",
      ngx-button-form="basic",
      ngx-button-size="normal",
      (click)="demo.toggleCustom()") Изменить цвет
