div

  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="basic", (click)="click()") basic
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="basic", (click)="click()") basic
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="primary", (click)="click()") primary
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="primary", (click)="click()") primary
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="secondary", (click)="click()") secondary
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="secondary", (click)="click()") secondary
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="help", (click)="click()") help
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="help", (click)="click()") help
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="success", (click)="click()") success
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="success", (click)="click()") success
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="wait", (click)="click()") wait
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="wait", (click)="click()") wait
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="accept", (click)="click()") accept
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="accept", (click)="click()") accept
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="info", (click)="click()") info
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="info", (click)="click()") info
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="warn", (click)="click()") warn
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="warn", (click)="click()") warn
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="danger", (click)="click()") danger
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="danger", (click)="click()") danger
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="error", (click)="click()") error
  button(ngx-button, [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="error", (click)="click()") error

div

  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="basic", (click)="click()") basic
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="basic", (click)="click()") basic
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="primary", (click)="click()") primary
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="primary", (click)="click()") primary
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="secondary", (click)="click()") secondary
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="secondary", (click)="click()") secondary
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="help", (click)="click()") help
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="help", (click)="click()") help
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="success", (click)="click()") success
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="success", (click)="click()") success
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="wait", (click)="click()") wait
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="wait", (click)="click()") wait
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="accept", (click)="click()") accept
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="accept", (click)="click()") accept
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="info", (click)="click()") info
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="info", (click)="click()") info
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="warn", (click)="click()") warn
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="warn", (click)="click()") warn
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="danger", (click)="click()") danger
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="danger", (click)="click()") danger
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="false", ngx-button-color="error", (click)="click()") error
  button(class="ngx-button-custom", ngx-button="custom", [ngx-button-size]="size", [ngx-button-form]="form", [ngx-button-type]="type", [disabled]="true", ngx-button-color="error", (click)="click()") error
